################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lstrip_function/.vs/lstrip_function
