################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lstrip_function/.vs/lstrip_function
/zfill_function/.vs/zfill_function
/uppercase_name/.vs/uppercase_name
