################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lstrip_function/.vs/lstrip_function
/zfill_function/.vs/zfill_function
/uppercase_name/.vs/uppercase_name
/lower_case_name/.vs/lower_case_name
/correct_casing/.vs/correct_casing
/reverse_casing/.vs/reverse_casing
/number_of_characters/.vs/number_of_characters
/pascal_case/.vs/pascal_case
